# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Zachary Blackwood
	email = zblackwo@gmail.com
[push]
	default = current
[alias]
    cleanup = "!git branch --merged master | grep  -v '\\*\\|master' | xargs -n1 -r git branch -d"
    cleanupm = "!git branch --merged main | grep  -v '\\*\\|main' | xargs -n1 -r git branch -d"
[pull]
	rebase = true
[init]
	defaultBranch = main
